.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app-header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  text-align: center;
}

.app-footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}